html,body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}

#content-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: bisque;
}
#content-container > div{
    flex: 1;
    width: 40%;
    height: 80vh;
    background-color: aquamarine;
}
footer{
    padding: 20px;
    background-color: #000;
}
